# FOR LOOPS

In [1]:
#if I want to print my name 5 times. I don't need to write code 5 times just used loop function. and it will do their work.
#first of all you have to give a variable  in for loop then we use a function call range (for how many times you want this to repeat)
#then we give our statement.. that's a structure for for loop

In [3]:
for a in range(7):
    print("Simra")

Simra
Simra
Simra
Simra
Simra
Simra
Simra

In [4]:
for a in range(7):
    print(a,"Simra")

0 Simra
1 Simra
2 Simra
3 Simra
4 Simra
5 Simra
6 Simra

In [5]:
for number in range(10):
    print(number)

0
1
2
3
4
5
6
7
8
9

In [6]:
for number in range(1,10):
    print(number)

1
2
3
4
5
6
7
8
9

In [7]:
for number in range(1,10,2):    #third number is like step that how many step you can skip.. you can give whatever you like
    print(number)

1
3
5
7
9

In [15]:
#if you want to reverse the number you can 
for number in range(10,1,-2):
    print(number)

10
8
6
4
2

In [19]:
#make a list
cities = ["karachi","Lahore","Islamabad","Hadeed"]
cities

['karachi', 'Lahore', 'Islamabad', 'Hadeed']

In [22]:
for city in cities:
    print(f"The city under consideration is {city}")

The city under consideration is karachi
The city under consideration is Lahore
The city under consideration is Islamabad
The city under consideration is Hadeed

In [23]:
for num in [11,3,56,7,88]:
    print(num)

11
3
56
7
88

In [25]:
country = "PAKISTAN"
for char in country:
    print(char)

P
A
K
I
S
T
A
N

In [26]:
#but if we give another value to our variable means string value so it become tuple means now they take whole value (word) 
country = "PAKISTAN","kOREA"
for char in country:
    print(char)

PAKISTAN
kOREA


# for loop function: break and continue

In [2]:
for number in [range(10)]:
    if number==0:
        break     #break keyword break after you give desire number
    print(number)

range(0, 10)

In [14]:
for number in [5,78,45,2,3,45,0,0]:
    if number==2:
        break
    print(number)

5
78
45

In [15]:
for num in range(10):
    if num == 6:
        continue    #continue just skip that number what you want and continue thier work
    print(num)

0
1
2
3
4
5
7
8
9

In [19]:
for sim in range(20):
    if sim == 5 or sim == 2 or sim == 9:
        continue
    print(sim)

0
1
3
4
6
7
8
10
11
12
13
14
15
16
17
18
19